<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.zxsJkDao" >

	<!-- 新增 -->
	<insert id="addjiekuan" parameterType="com.jk.model.Personalloan">
		  insert into t_personalloan(loanname,loanphone,loanmoney,loanmonth,loantypeid,loanadress,loandate,loandescribe,loanstate,applyloandate)
		  values(#{loanname},#{loanphone},#{loanmoney},#{loanmonth},#{loantypeid},#{loanadress},#{loandate},#{loandescribe},#{loanstate},#{applyloandate})
	</insert>

</mapper>